.cabecalho {
    background-color: var(--branco-roxeado);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
}

.cabecalho__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 .8rem 0;
    color: var(--cinza-escuro);
}

.cabecalho__lista {
    text-align: center;
}

.cabecalho__lista-item {
    display: inline-block;
    margin: 2px .2rem;
}

.cabecalho__lista-item a {
    color: var(--cinza-claro);
    text-decoration: none;
}

.cabecalho__lista-item:hover a {
    border-bottom: 1px solid var(--cinza-claro);
}

@media screen and (min-width: 768px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__title {
        margin: 0;
    }
}