.contato {
    background-color: var(--branco-azulado);
}

.contato__titulo {
    color: var(--cinza-escuro);
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 0;
    text-align: center;
}

.contato__itens {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 2rem;
}

.contato__imagem {
    background-image: url('../img/contato.png');
    background-position: center;
    background-size: cover;
    display: none;
    justify-content: center;
    width: 30%;
}

.contato__formulario {
    width: 100%;
}

.contato__formulario-itens {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 5px;
}

.contato__formulario-label {
    color: var(--cinza-claro);
    font-size: .8rem;
}

.contato__formulario-input {
    border: none;
    height: 2rem;
}

.contato__formulario-textarea {
    border: none;
    height: 4rem; 
    resize: none;
}

.contato__formulario-input:focus, .contato__formulario-textarea:focus {
    border-bottom: 2px solid blue;
    outline: 0;
}

.contato__formulario-botao {
    background: transparent;
    border: 1px solid var(--cinza-claro);
    border-radius: 5px;
    margin: .3rem .5rem;
    padding: .5rem .8rem;
}

.contato__formulario-botao:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .contato {
        background: var(--branco-roxeado);
        margin: 0 .8rem;
    }

    .contato__formulario {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .contato__imagem {
        display: flex; 
    }

    .contato__formulario {
        width: 50%;
    }
    
    .contato__formulario-itens {
        margin: 0 0 15px 0
    }
}