.container__conteudo-perfil {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
}

.container__conteudo-imagem {
    width: 9rem;
}

.container__conteudo-nome {
    color: var(--cinza-escuro);
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: .8rem;
}

.container__conteudo-descricao {
    border-bottom: 1px solid #b1b3b4;
    color: var(--cinza-claro);
    font-size: .8rem;
    line-height: 1.2rem;
    margin-bottom: .8rem;
    max-width: 250px;
    text-align: center;
    width: 90%;
}

.container__conteudo-bio {
    color: var(--cinza-claro);
    display: flex;
    flex-direction: column;
    margin-bottom: .8rem;
}

.bio-item {
    display: flex;
    margin: .2rem 0;
}

.bio-palavra {
    font-size: .8rem;
    margin-left: 10px;
}

.container__conteudo-contato {
    display: flex;
}
.container__conteudo-icone-contato {
    margin: 0 .5rem;
    width: 2rem;
}

.container__conteudo-icone-contato:hover {
    box-shadow: 1px 1px 5px var(--cinza-claro);
}

@media screen and (min-width:768px) {
    .container__conteudo-perfil {
        height: auto;
        margin: 0 0 0 .8rem;
        padding-bottom: 0;
        padding-top: 1rem;
    }
}