.container__conteudo-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
}

.container__conteudo-imagem {
    width: 9rem;
}

.container__conteudo-nome {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: .8rem;
    color: var(--cinza-escuro);
}

.container__conteudo-descricao {
    font-size: .8rem;
    width: 90%;
    max-width: 250px;
    margin-bottom: .8rem;
    text-align: center;
    line-height: 1.2rem;
    color: var(--cinza-claro);

    border-bottom: 1px solid #b1b3b4;
}

.container__conteudo-descricao:nth-child(5),
.container__conteudo-descricao:nth-child(6),
.container__conteudo-descricao:nth-child(7) {
    border-bottom: none;
    line-height: .8rem;
}

.container__conteudo-descricao:nth-child(8) {
    line-height: .8rem;
}

.container__conteudo-contato {
    display: flex;
}
.container__conteudo-icone-contato {
    width: 2rem;
    margin: 0 .5rem;
}

.container__conteudo-icone-contato:hover {
    box-shadow: 1px 1px 5px var(--cinza-claro);
}

@media screen and (min-width:768px) {
    .container__conteudo-perfil {
        height: auto;
        margin: 0 0 0 .8rem;
        padding-top: 1rem;
        padding-bottom: 0;
    }
}