.projetos {
    padding: .5rem 0;
    text-align: center;
}

.projetos__titulo {
    color: var(--cinza-escuro);
    font-size: 2rem;
    font-weight: 600;
}

.projetos__card {
    background: #FDFDFD;
    border: 1px solid var(--cinza-claro);
    display: flex;
    flex-direction: column;
    margin: .8rem auto;
    max-width: 400px;
    padding: .5rem;
    width: 80%;
}

.projetos__card-imagem {
    background-position: center;
    background-size: cover;
    height: 14rem;
    width: 100%;
}

.forca {
    background-image: url('../img/jogoDaForca.png');
}

.decodificador {
    background-image: url('../img/decodificador.png');
}

.projetos__card-texto {
    margin: .8rem auto;
    text-align: center;
    width: 85%;
}

.projetos__card-titulo {
    border-bottom: 1px solid var(--cinza-claro);
    color: var(--cinza-escuro);
    font-size: 1.4rem ;
    font-weight: 600;
    margin-bottom: .5rem;
}

.projetos__card-descricao {
    color: var(--cinza-claro); 
    font-size: .8rem;
    line-height: 1.2rem;
}

.projetos__card-botoes {
    margin-top: 2rem;
    text-align: center;
}

.projetos__card-link {
    border: 1px solid var(--cinza-claro);
    border-radius: 5px;
    color: var(--cinza-escuro);
    margin: 0 .8rem;
    padding: .5rem .8rem;
    text-decoration: none;
}

/*RESPONSIVO TABLET E DESKTOP*/
@media screen and (min-width: 768px) {
    .projetos {
        margin: 0 .8rem;
    }

    .projetos__card {
        align-items: center;
        flex-direction: row;
        max-width: none;
        padding: 0 .2rem;
        width: 85%;
    }

    .projetos__card-imagem {
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
    }

    .projetos__card-texto {
        margin: 0;
        padding: .8rem;
        text-align: start;
        width: 40%;
    }

    .projetos__card-descricao {
        font-size: .7rem;
        line-height: .8rem;
    }

    .projetos__card-botoes {
        display: flex;
        justify-content: center;
        margin-top: .8rem;
    }

    .projetos__card-link {
        font-size: .8rem;
        margin: 0 5px;
    }

    .projetos__card-link:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 1024px) {
    .projetos__card {
        max-width: 700px;
        padding: .5rem;
    }

    .projetos__card-imagem {
        height: 15rem;
    }

    .projetos__card-texto {
        padding: 1.2rem;
        text-align: start;
        width: 80%;
    }

    .projetos__card-descricao {
        line-height: 1rem;
    }

    .projetos__card-botoes {
        margin-top: 1rem;
    }
}