.projetos {
    padding: .5rem 0;
    text-align: center;
}

.projetos__titulo {
    color: var(--cinza-escuro);
    font-size: 2rem;
    font-weight: 600;
}

/*CARDS*/
.projetos__card {
    background: #FDFDFD;
    border: 1px solid var(--cinza-claro);
    display: flex;
    flex-direction: column;
    margin: .8rem auto;
    max-width: 400px;
    padding: .5rem;
    width: 80%;
}

.projetos__card-imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 14rem;
    width: 100%;
}

.forca {
    background-image: url('../img/jogoDaForca.png');
}

.decodificador {
    background-image: url('../img/decodificador.png');
}

.list {
    background-image: url('../img/todolist.png');
}

.conversor {
    background-image: url('../img/conversor.png');
}

.projetos__card-texto {
    margin: .8rem auto;
    text-align: center;
    width: 85%;
}

.projetos__card-textos {
    min-height: 85%;
}

.projetos__card-titulo {
    border-bottom: 1px solid var(--cinza-claro);
    color: var(--cinza-escuro);
    font-size: 1.4rem ;
    font-weight: 600;
    margin-bottom: .5rem;
}

.projetos__card-descricao {
    box-sizing: border-box;
    color: var(--cinza-claro); 
    font-size: .8rem;
    line-height: 1.2rem;
}

.projetos__card-botoes {
    margin-top: 1.8rem;
    text-align: center;
}

.projetos__card-link {
    border: 1px solid var(--cinza-claro);
    border-radius: 5px;
    color: var(--cinza-escuro);
    margin: 0 .8rem;
    padding: .5rem .8rem;
    text-decoration: none;
}

/*RESPONSIVO TABLET E DESKTOP*/
@media screen and (min-width: 768px) {
    .projetos {
        margin: 1rem .8rem;
    }

    .projetos__cards {
        margin: 0 auto;
        max-width: 400px;
    }

    .projetos__card-link:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 1024px) {
    .projetos__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: none;
    }
    
    .projetos__card {
        margin: 20px;
        width: 200px;
    }

    .projetos__card-imagem {
        height: 8rem;
    }

    .projetos__card-botoes {
        font-size: .5rem;
        width: 100%;
    }
}