.container__conteudo-sobre {
    padding: .5rem 0;
    text-align: center;
}

.container__conteudo-sobre-titulo {
    color: var(--cinza-escuro);
    font-size: 2rem;
    font-weight: 600;
}

.container__conteudo-sobre-descricao {
    color: var(--cinza-claro);
    font-size: .8rem;
    line-height: 1.2rem;
    margin: 1rem auto;
    max-width: 350px;
    width: 90%;
}

.container__conteudo-sobre-subtitulo {
    color: var(--cinza-escuro);
    font-size:1.5rem ;
    font-weight: 600;
}

.container__conteudo-skills {
    display: flex;
    justify-content: center;
    margin: .8rem 0;
}

.container__conteudo-skills-card {
    display: flex;
    flex-direction: column;
    margin: 0 .5rem;
}

.container__conteudo-skills-icone {
    height: 4rem;
    transition: 0.5s;
}



.skills-icone-legenda {
    color: var(--cinza-claro);
    font-size: .8rem;
    margin-top: .5rem;
}

/*RESPONSIVO*/
@media screen and (min-width: 768px) {
    .container__conteudo-sobre {
        background-color: var(--branco-roxeado);
        border-bottom: 1px dashed lightgrey;
        margin: 0 .8rem;
    }
}

@media screen and (min-width: 1024px) {
    .container__conteudo-sobre-descricao {
        max-width: 600px;
    }

    .container__conteudo-skills-icone:hover {
        height: 4.5rem;
    }
}