/*PROJETO FEITO EM MOBILE FIRST*/
:root {
    --branco-roxeado: #f7f6ff;
    --branco-azulado: #EAF2FD;
    --cinza-claro: #5a5959;
    --cinza-escuro: #323232;
    --bg-pagina: #b1d5ed;
    --lato: 'Lato' , sans-serif;
}

body {
    background-color: var(--bg-pagina);
    background-image: url('../img/nuvem-branca2.png');
    background-size: 250px;
    font-family: var(--lato);
}

/*DIVISÃO ITENS*/
.conteudo {
    display: grid;
    grid-template-rows: auto auto auto 2fr;
    margin-bottom: 2.5rem;
}

.perfil {
    background-color: var(--branco-roxeado);
    height: auto;
}

.sobre {
    background-color: var(--branco-azulado)
}

.projetos {
    background-color: var(--branco-roxeado);
    height: auto;
}

/*RESPONSIVO GRID*/
/*NO GRID SOMENTE A POSIÇÃO, ITENS EM SEUS RESPECTIVOS ARQUIVOS CSS*/

@media screen and (min-width: 768px) {
    .conteudo {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: none;
    }

    .perfil {
        max-height: 490px;
    }
}

@media screen and (min-width: 1024px) {
    .conteudo {
        grid-template-columns: 270px 2fr;
    }
}