/*MOBILE FIRST*/
:root {
    --branco-roxeado: #f7f6ff;
    --branco-azulado: #EAF2FD;
    --cinza-claro: #5a5959;
    --cinza-escuro: #323232;
    --bg-pagina: #b1d5ed;

    --lato: 'Lato' , sans-serif;
}

body {
    font-family: var(--lato);
    background-color: var(--bg-pagina);
    background-image: url('../img/nuvem-branca2.png');
    background-size: 250px;
}
/*CABEÇALHO*/
.cabecalho {
    background-color: var(--branco-roxeado);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
}

.cabecalho__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 .8rem 0;
    color: var(--cinza-escuro);
}

.cabecalho__lista {
    text-align: center;
}

.cabecalho__lista-item {
    display: inline-block;
    margin: 2px .2rem;
}

.cabecalho__lista-item a {
    color: var(--cinza-claro);
    text-decoration: none;
}


/*DIVISÃO ITENS*/
.container__conteudo {
    display: grid;
    grid-template-rows: auto auto 2fr;
    margin-bottom: 2.5rem;
}

.container__conteudo-perfil {
    background-color: var(--branco-roxeado);
    height: auto;
}

.container__conteudo-sobre {
    background-color: var(--branco-azulado)
}

.container__conteudo-posts {
    background-color: var(--branco-roxeado);
    height: auto;
}

/*FORMULARIO CONTATO*/
.container__contato-titulo {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: .5rem 0;
    color: var(--cinza-escuro);
}
.container__contato {
    background-color: var(--branco-azulado);
}
.container__contato-formulario {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

/*RODAPE*/
.rodape {
    background-color: var(--branco-roxeado);
    text-align: center;
    font-size: .6rem;
    color: var(--cinza-escuro);
    padding: 2rem;
}

/*RESPONSIVO CABEÇALHO, GRID E RODAPE*/
/*NO GRID SOMENTE A POSIÇÃO, ITENS EM SEUS RESPECTIVOS ARQUIVOS CSS*/

@media screen and (min-width: 768px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__title {
        margin: 0;
    }
    .container__conteudo {
        grid-template-rows: none;
        grid-template-columns: 1fr 2fr;
    }

    .container__conteudo-perfil {
        max-height: 370px;
    }
}

@media screen and (min-width: 1024px) {
    .container__conteudo {
        grid-template-columns: 270px 2fr;
    }
}
